<%- include("partials/header") -%>

    <div class="header">
      <h1 class="header-heading">Swapnil</h1>
      <a class="home-anchor" href="#Education">About</a>
      <a class="home-anchor" href="#Skills">Skills</a>
      <a class="home-anchor" href="#Secrets">Secrets</a>
      <a class="home-anchor" href="#Combine">Interest</a>
      <a class="home-anchor" href="#Contact">Contact</a>
    </div>
    <div>
        <img class="img" src="/images/laptop.jpg" alt="photo">
    </div>
    <div class="education">
        <h2 class="caption"><span class="span"> I'm a Competetive Programmer and a Web Developer </span></h2>
        <h2>I have an experiance of working as a Technical Content Developer, and Teaching Assistant at <a class="last" href="https://codemode.us/">Codemode</a></h2>
        <a type="button" class="btn btn-outline-light" href="https://drive.google.com/file/d/1lUISfmNo4ZVi8bG_gjfMAIR-Jk4pf-gw/view?usp=sharing"><i class="fas fa-download"></i> Download CV</a>
    </div>

  <section id="Education">
    <div class="icon-whole">
      <h2 class="icon-heading">My Education</h2>
        <div class="study row">
        
            <div class="col-lg-4">
              <i class="fas fa-school fa-3x googleIcon"></i>
              <h3 class="icon-content-heading">High School</h3>
              <p>St. Mary's School, passed with an aggregate of 89%</p>
            </div>
            <div class="col-lg-4">
             <i class="fas fa-chalkboard-teacher fa-3x googleIcon"></i>
             <h3 class="icon-content-heading">Intermediate</h3>
             <p>Red Rose Convent School, passed with an aggregate of 93%</p>
            </div>
            <div class="col-lg-4">
             <i class="fas fa-graduation-cap fa-3x googleIcon"></i>
             <h3 class="icon-content-heading">Graduation</h3>
             <p>Harcourt Bulter Technical University ,CGPA 8.726, passout :2023</p>
            </div>

        </div>
    </div>
    <hr class="line">
  </section>

  <section id="Skills">
    <div class="skill">
        <h2 class="skill-heading">Here's what I'm good at</h2>
        <div id="carouselExampleControls" class="carousel-section carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <h3 class="carousel-item-heading">Programming is one of the most demanding skill in this era. I love to do it, it consumes much of my time in a day.</h3>
                  <img src="/images/programming.jpg" class="carousel-image" alt="programming-image"><br>
                  <em>James Gosling,the inspiration</em>
              </div>
              <div class="carousel-item">
                  <h3 class="carousel-item-heading">I think development is really necessary for every programmer because it gives a best knowledge of internet and that's why I love to do it.</h3>
                  <img src="/images/development.jpg" class="carousel-image" alt="development-image"><br>
                  <em>Jeff Bezos,the inspiration</em>
              </div>
              <div class="carousel-item">
                  <h3 class="carousel-item-heading">Photography is my hobby and mostly I do it from my mobile phone and it makes the mind creative and cheerful.</h3>
                  <img src="/images/photographer.jpg" class="carousel-image" alt="photographer-image"><br>
                  <em>Steve McCurry,the ideal</em>
              </div>
            </div>
            <a class="carousel-control carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>

  </section>

  <section id="Secrets">

    <div class="secrets">
        <h2 class="secrets-heading">My Secrets</h2>
        <div class="secrets-content">
            <h3 class="secrets-content-heading">Just checkout my secret and share your secrets too.</h3>
            <hr class="line">
            <a type="button" class="btn btn-outline-info" href="/login">Log-in</a>
            <a type="button" class="btn btn-info" href="/signup">Sign-up</a>
        </div>
    </div>

  </section>

  <section id="Combine">
  <div class="combine">
    <h2 class="interest-heading">My Interests</h2>
    <div class="combine-div">
      <div class="interest">
        <img class="interest-image-1" src="https://media.giphy.com/media/xTiTnoUnHxVaaVNWhO/giphy.gif" alt="google photo">
        <p class="interest-p">I Love Google because more than my book I learned from google itself, and its my dream to go to google.</p>
      </div>
      <div class="interest interest2">
        <img class="interest-image-2" src="https://media.giphy.com/media/thA1QtTj8ZYHK/giphy.gif" alt="microsoft photo">
        <p class="interest-p">Micosoft is one of the best leading company and it grow day by day to a very huge extent.</p>
      </div>
      <div class="interest">
        <img class="interest-image-1" src="https://media.giphy.com/media/zWyv9xtsEfXQQ/giphy.gif" alt="facebook photo">
        <p class="interest-p">Anyone and for everyone a huge source of entertainment and a reliable source for products, Amazon is the best.</p>
      </div>
      <div class="interest">
        <img class="interest-image-2" src="https://media.giphy.com/media/ijEiXYEo9DBxm/giphy.gif" alt="apple photo">
        <p class="interest-p">The most loved interactive site which holds the whole world into its clutches. It gives us many features and its safe.</p>
      </div>
    </div>
  </div>

</section>

<section id="Contact">

  <div class="contact">
    <h2 class="contact-heading">Contact Me</h2>
    <div class="contact-content">
      <!-- <i class="contact-icon fab fa-twitter-square fa-2x"></i>
      <i class="contact-icon fab fa-facebook-square fa-2x"></i>
      <i class="contact-icon fab fa-linkedin fa-2x" ></i>
      <i class="contact-icon fab fa-instagram-square fa-2x"></i>
      <br> -->
      <a class="contact-a" href="https://www.linkedin.com/in/swapnil-tripathi-121781197/"><i class="contact-icon fab fa-linkedin fa-1.5x" ></i></a>
      <a class="contact-a" href="https://www.facebook.com/swapnil.tripathi.3998/"><i class="contact-icon fab fa-facebook-square fa-1.5x"></i></a>
      <a class="contact-a" href="https://twitter.com/Swapnil41616885"><i class="contact-icon fab fa-twitter-square fa-1.5x"></i></a>
      <a class="contact-a" href="https://www.instagram.com/swapnil_tripathi45/"><i class="contact-icon fab fa-instagram-square fa-1.5x"></i></a>
      <p class="contact-p">copyright © 2022 Swapnil Tripathi</p>
    </div>
  </div>

</section>

<%- include("partials/footer") -%>